@model IEnumerable<Core.Entities.ITrainingProgram>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var program in Model)
{
    <p>@Html.ActionLink(program.Name, "Program", new {type = program.Name})</p>
}