@model IEnumerable<Core.TrainingPrograms.BaseTrainingProgram>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var program in Model)
{
    <p>@Html.ActionLink(program.Name, "Program", new {type = (int) program.Type})</p>
}