@model Core.Entities.ITrainingProgram

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h3>@Model.Name</h3>
@foreach (var num in Enumerable.Range(1, Model.Sessions.Length))
{
    <p>@Html.ActionLink($"Session {num}", "Session", new {type = Model.Name, session = num})</p>
}