@using Core.Entities.Requests
@model Core.TrainingPrograms.BaseTrainingProgram

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h3>@Model.Name</h3>
@for (var day = 1; day <= Model.Days; day++)
{
    var request = new SessionRequest
    {
        ProgramType = Model.Type,
        Day = day
    };

    <p>@Html.ActionLink($"Session {day.ToString()}", "Session", request)</p>
}