@model Core.TrainingPrograms.BaseTrainingProgram

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h3>@Model.Name</h3>
@foreach (var num in Enumerable.Range(1, Model.Count))
{
    <p>@Html.ActionLink($"Session {num}", "Session", new {type = (int) Model.Type, session = num})</p>
}