@model Core.TrainingPrograms.BaseTrainingProgram

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var days = Enumerable.Range(1, Model.Days);
}

<h3>@Model.Name</h3>
@foreach (var day in days)
{
    <p>@Html.ActionLink($"Session {day.ToString()}", "Session", new {Type = (int) Model.Type, Session = day})</p>
}