@model IEnumerable<Kudiyarov.TrainingPrograms.Entities.TrainingPrograms.BaseTrainingProgram>

@{
    ViewBag.Title = "title";
}

@foreach (var program in Model)
{
    <p>@Html.ActionLink(program.Name, "Program", new { type = (int)program.Type })</p>
}