@using Kudiyarov.TrainingPrograms.Entities.Entities.Requests
@model Kudiyarov.TrainingPrograms.Entities.TrainingPrograms.TrainingProgram

@{
    ViewBag.Title = "title";
}

<h3>@Model.Name</h3>
@for (var day = 1; day <= Model.Days; day++)
{
    var request = new SessionRequest
    {
        ProgramType = Model.Type,
        Day = day
    };

    <p>@Html.ActionLink($"Session {day}", "Session", request)</p>
}